body {
    background-color: #000;
}

.head a {
    color: #fff;
    margin: 5px;
    text-decoration: none;

}

.head {
    border-bottom: 2px solid white;
}


h1 {
    color: #fff;
    margin-left: 220px;
    margin-top: 20px;
    width: 50rem;
    height: 40px;
}

button {
    margin-left: 220px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
}
#signupclick, #profileclick{
    color: #fff;
    cursor: pointer;
}
Main{
    margin-top: 10rem;
}
